.cabeca{
    text-align: center;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
}

.botoes{
    display: flex;
    text-align: center;
    gap: 10px;
    justify-content: center;
    
}

.foto{
    margin-left: 800px;
  margin-top: 100px;

}

body{
    background-color: black;
}

